<div class="container">
    <div class="card">
        <form [formGroup]="viewForm">
            <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
                <h4>User Details</h4>
            </nav>
            <div class="form-group row">
                <label for="email" class="col-sm-4 col-form-label">EMAIL:</label>
                <div class="col-sm-8">
                    <input formControlName="email" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label for="gender" class="col-sm-4 col-form-label">GENDER:</label>
                <div class="col-sm-8">
                    <input formControlName="gender" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label for="height" class="col-sm-4 col-form-label">HEIGHT:</label>
                <div class="col-sm-8">
                    <input formControlName="height" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label for="weight" class="col-sm-4 col-form-label">WEIGHT:</label>
                <div class="col-sm-8">
                    <input formControlName="weight" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label for="dob" class="col-sm-4 col-form-label">DOB:</label>
                <div class="col-sm-8">
                    <input formControlName="dob" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label for="fname" class="col-sm-4 col-form-label">FIRST NAME:</label>
                <div class="col-sm-8">
                    <input formControlName="firstname" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label for="lname" class="col-sm-4 col-form-label">LAST NAME:</label>
                <div class="col-sm-8">
                    <input formControlName="lastname" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label for="country" class="col-sm-4 col-form-label">COUNTRY:</label>
                <div class="col-sm-8">
                    <input formControlName="country" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label for="meal" class="col-sm-4 col-form-label">MEAL PLAN:</label>
                <div class="col-sm-8">
                    <input formControlName="meal" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label for="workout" class="col-sm-4 col-form-label">WORKOUT PLAN:</label>
                <div class="col-sm-8">
                    <input formControlName="workout" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label for="fit" class="col-sm-4 col-form-label">FITNESS GOAL:</label>
                <div class="col-sm-8"></div>
            </div>

            <div class="form-group row">
                <label for="device" class="col-sm-4 col-form-label">WEARABLE DEVICE:</label>
                <div class="col-sm-8">
                    <input formControlName="user_device" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label for="token" class="col-sm-4 col-form-label">USER DEVICE TOKEN:</label>
                <div class="col-sm-8">
                    <input formControlName="user_firebase_token" class="form-control">
                </div>
            </div>
        </form>
    </div>
</div>