<div class="db">
    <img src="../../assets/TSRHC_CMYK_logo2015_Red.png" width="150">
    <h4 class="log">LOGGED IN AS:<br></h4>
    <div class="sidenav">
        <a routerLink="dashboard" routerLinkActive="active"><img src="../../assets/icon-action-dashboard.svg">DashBoard</a>
        <a routerLink="scolisois" routerLinkActive="active"><img src="../../assets/activesco.svg"> Scolisois</a>
        <a routerLink="club-foot" routerLinkActive="active"><img src="../../assets/activeclub.svg"> Club-foot</a>
        <a routerLink="admin" routerLinkActive="active"><img src="../../assets/activeadmin.svg"> Admin</a>
    </div>

    <div class="ftr">
        <footer>
            <a><img src="../../assets/icon-action-exit-to-app.svg">Logout</a>
        </footer>
    </div>
</div>
<router-outlet></router-outlet>