.card {
    margin-left: 220px;
    float: left;
    height: 12%;
    width: 20%;
    //padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 16px;
}

.table {
    width: 85%;
    margin-left: 220px;
    padding: 10px;
}