<div class="card">
    <div class="container">
        <img src="/assets/icon-social-people.svg">
        <h3>0 Person</h3>
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Patient Type</th>
            <th>Prescribed</th>
            <th>Avg Hrs/Day</th>
            <th>%Variance</th>
            <th>Last Update</th>
        </tr>

    </thead>
    <!-- <tbody>
        <tr *ngFor="let user of user">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
        </tr>
    </tbody> -->
</table>